/* PostCSS Normalize (see: https://create-react-app.dev/docs/adding-css-reset) */
/* noinspection CssInvalidAtRule */
@import-normalize;

@font-face {
  font-family: 'star_jediregular';
  src: url('./fonts/starjedi-webfont.woff2') format('woff2'),
  url('./fonts/starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
